{% extends 'imagepersona/base.html' %}
{% block title %}: {{album_name}}{% endblock %}
{% block nav-title %}
<div class="col s4" style="height: 0px;">
  <a href="{% url 'imagepersona:photos' %}" class="breadcrumb">My Photos</a>
  <a href="#!" class="breadcrumb">{{album_name}}</a>
</div>
<div class="col s3 offset-s0 search">
  <div class="input-field">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" type="text" placeholder="Search">
  </div>
</div>
<div class="col s1">
  <a class="btn btn-small waves-effect grey">Search</a>
</div>

{% endblock %}
{% block body %}
<div class="row" style="padding: 20px 10px;">
  {% for item in people %}
  <div class="col s6 m4 l2">
    <a href="{% url 'imagepersona:images' album_id=albumPk person_id=item.pk %}" style="color: white;">
      <div class="card">
        <div class="card-image">
          <!-- need to change the image to static url -->
          <img src="/uploads/folder.png">
          <!-- <span class="card-title">Card Title</span> -->
        </div>
        <!-- <div class="card-content orange darken-4" height="500px" style="he">
        <p>I am a very simple card. I am</p>
      </div> -->
        <hr style="margin: 0px;">
        <div class="card-content black-text" style="padding: 15px;">
          {{ item.name }}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
