{% extends 'imagepersona/base_with_search.html' %}
{% block title %}: {{album_name}}{% endblock %}
{% block breadcrumb %}
<div class="col s4" style="height: 0px;">
  <a href="{% url 'imagepersona:photos' %}" class="breadcrumb">My Photos</a>
  <a href="#!" class="breadcrumb">{{album_name}}</a>
</div>
{% endblock %}
{% block body %}
<div class="row" style="padding: 20px 10px;">
  {% for item in people %}
  <div class="col s6 m4 l2">
    <a href="{% url 'imagepersona:images' album_id=albumPk person_id=item.pk %}" style="color: white;">
      <div class="card">
        <div class="card-image">
          <!-- need to change the image to static url -->
          <img src="/uploads/folder.png">
          <!-- <span class="card-title">Card Title</span> -->
        </div>
        <!-- <div class="card-content orange darken-4" height="500px" style="he">
        <p>I am a very simple card. I am</p>
      </div> -->
        <hr style="margin: 0px;">
        </a>
        <div class="card-content black-text" style="padding: 15px;">
          {{ item.name }}
          <a class="modal-trigger red-text" href="#modal2" onclick="subdeleteConfirm('{% url 'imagepersona:deleteSubAlbum' album_id=albumPk person_id=item.pk %}')"><i class="material-icons right">delete</i></a>
          <a class="modal-trigger blue-text" href="#modal1" onclick=""><i class="material-icons right">cloud_download</i></a>
          <a class="modal-trigger green-text" href="#modal3" onclick=""><i class="material-icons right">share</i></a>
        </div>
      </div>
  </div>
  {% endfor %}
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <p>Are you sure you want to delete all the photos of this person from this album?</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a id="finaldelete" href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Confirm</a>
  </div>
</div>

{% endblock %}
