<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
  <meta charset="UTF-8">
  <title>Image Persona {% block title %}{% endblock %}</title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

  <style>
    /* label color */
    .search .input-field label {
      color: #000000 !important;
    }

    /* label focus color */

    .search .input-field input[type=text]:focus+label {
      color: #FFFFFF !important;
    }

    /* label underline focus color */

    .search .input-field input[type=text]:focus {
      border-bottom: 1px solid #FFFFFF !important;
      box-shadow: 0 1px 0 0 #FFFFFF !important;
    }

    /* valid color */

    .search .input-field input[type=text].valid {
      border-bottom: 1px solid #FFFFFF !important;
      box-shadow: 0 1px 0 0 #FFFFFF !important;
    }

    /* invalid color */

    .search .input-field input[type=text].invalid {
      border-bottom: 1px solid #FFFFFF !important;
      box-shadow: 0 1px 0 0 #FFFFFF !important;
    }

    /* icon prefix focus color */

    .search .input-field .prefix.active {
      color: #FFFFFF !important;
    }
  </style>
</head>

<body class="grey lighten-4">

  <div class="row">
    <div class="navbar-fixed">
      <nav>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper" style="font-size: 18px;">
          <a href="{% url 'imagepersona:upload' %}" class="brand-logo right" style="font-family:'Satisfy',cursive; display: inline-block;"><i class="material-icons prefix">photo_library</i>Image Persona</a>
          {% block breadcrumb %}{% endblock %}
          {% block nav-title %}{% endblock %}
        </div>
      </nav>
    </div>
  </div>


  <ul id="slide-out" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="{{ user.userprofile.coverpic.url }}" width="100%" class="responsive-img">
        </div>
        <a href="{% url 'imagepersona:profile' %}"><img class="circle responsive-img" src="{{ user.userprofile.profilepic.url }}"></a>
        <a href="{% url 'imagepersona:profile' %}"><span class="white-text name">{{ user.get_full_name }}</span></a>
        <a href="{% url 'imagepersona:profile' %}"><span class="white-text email">{{ user.email }}</span></a>
      </div>
    </li>
    <li><a class="waves-effect" href="{% url 'imagepersona:upload' %}"><i class="material-icons">cloud_upload</i>Upload Images</a></li>
    <li><a class="waves-effect" href="{% url 'imagepersona:photos' %}"><i class="material-icons prefix">photo_album</i>My Photos</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <!-- <li><a class="subheader">Subheader</a></li> -->
    <li><a class="waves-effect" href="{% url 'imagepersona:profile' %}"><i class="material-icons prefix">edit</i>Edit Profile</a></li>
    <li><a class="waves-effect" href="{% url 'imagepersona:logout' %}"><i class="material-icons prefix">power_settings_new</i>Logout</a></li>
  </ul>

  <main>
    {% block body %} {% endblock %}
  </main>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(".button-collapse").sideNav();

    function readURL(input) {
      if (input.files && input.files[0]) {


        $('#abcd').html("");

        for (var i = 0; i < input.files.length; i++) {
          var reader = new FileReader();
          reader.onload = function(e) {
            console.log(e);
            $('#abcd').append('<img src="' + e.target.result + '" width="250" style="padding: 10px 10px"/>');
          };
          console.log(input.files[i]);
          reader.readAsDataURL(input.files[i]);
        }
      }
    }

    function readURL1(input) {
      if (input.files && input.files[0]) {


        $('#abcd1').html("");

        for (var i = 0; i < input.files.length; i++) {
          var reader = new FileReader();
          reader.onload = function(e) {
            console.log(e);
            $('#abcd1').append('<img src="' + e.target.result + '" width="250" style="padding: 10px 10px"/>');
          };
          console.log(input.files[i]);
          reader.readAsDataURL(input.files[i]);
        }
      }
    }

    function loading() {
      $('#loader').css('display', 'block');
    }

    function uploading() {
      Materialize.toast('Uploading and Grouping Photos!', 5000, 'rounded');
    }

    if (String('{{profilepic}}') == 'updated') {
      Materialize.toast('Profile Photo updated!', 4000, 'rounded')
    }
    if (String('{{coverpic}}') == 'updated') {
      Materialize.toast('Cover Photo updated!', 4000, 'rounded')
    }
    if (String('{{firstname}}') == 'updated') {
      Materialize.toast('First Name updated!', 4000, 'rounded')
    }
    if (String('{{lastname}}') == 'updated') {
      Materialize.toast('Last Name updated!', 4000, 'rounded')
    }

    if (String('{{toast.display}}') == 'true') {
      Materialize.toast('{{toast.message}}', 4000, 'rounded')
    }

    $(document).ready(function() {
      $('.materialboxed').materialbox();
    });

    $(document).ready(function() {
      $('.carousel').carousel();
    });

    $(document).ready(function() {
      Materialize.updateTextFields();
    });
    $(document).ready(function(){
      // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });

    function sharelink(album_id, person_id) {
      console.log("it came here");
      $.ajax({
        type: "GET",
        url: "/imagepersona/sharefolder/" + album_id + "/" + person_id,
        data: {}
      }).done(function( msg ) {
        // $('#sharedlink').html("blah");
        console.log(msg);
        $('#sharedlink').html("" + msg.Link);
        $('#modal1').modal('open');
      }).fail(function( jqXHR, textStatus, errorThrown ) {
        console.log(jqXHR, textStatus, errorThrown);
      });
    }
  </script>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>
