{% extends 'imagepersona/base_blue.html' %}

{% block title %} : Forgot password {% endblock %}
{% block body %}
		<div class="row" style="padding-top: 60px;">
			<div class="col s12 m6" style="margin:0 auto; float: none; vertical-align: center;">
		 		<div class="card">
					<div class="card-content ">
						<span class="card-title center-align"><h4>Forgot Password</h4></span>
						{% if confirm_message %}
							<div class="row">
								Email has been sent to <b>{{ emailid }}</b>. Follow the instructions in the email to Reset password.
							</div>
						{% else %}
						<div class="row">
							Enter your registered email id. A link will be sent to you.
						</div>
						<div class="row">
						 	<form class="col s12" role="form" action="{% url 'imagepersona:forgotpassword' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								 <div class="input-field col s12 ">
									 <i class="material-icons prefix">email</i>
									 <input id="id_email" name="email" required="true" type="email" class="validate">
									 <label for="id_email">Email</label>
								 </div>
						 	   <div class="center-align">
									 <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Send
										 <i class="material-icons right">send</i>
									 </button>
									</div>
							 </form>
						 </div>
						 {% endif %}
						</div>
						<div class="card-action center-align">
							<a href="{% url 'imagepersona:login' %}">Login</a>
					</div>
				</div>
			</div>
	 </div>
{% endblock %}




    <main>
        
		<div class="row" style="padding-top: 60px;">
			<div class="col s12 m6" style="margin:0 auto; float: none; vertical-align: center;">
		 		<div class="card">
					<div class="card-content ">
						<span class="card-title center-align"><h4>Forgot Password</h4></span>
						
							<div class="row">
								Email has been sent to <b>laksdjf@alsdkfj.com</b>. Follow the instructions in the email to Reset password.
							</div>
						
						 </div>
						</div>
						<div class="card-action center-align">
							<a href="/imagepersona/login/">Login</a>
					</div>
				</div>
			</div>
	 </div>

    </main>