{% extends 'imagepersona/base.html' %}

{% block title %}: {{PersonName}}{% endblock %}
{% block nav-title %}
<div class="col s6" style="height: 0px;">
  <a href="/imagepersona/photos/" class="breadcrumb">My Photos</a>
  <a href="{% url 'imagepersona:album' album_id=album.pk %}" class="breadcrumb">{{album.name}}</a>
  <a href="#!" class="breadcrumb">{{PersonName}}</a>
</div>

{% endblock %}

{% block body %}
Need to improve this 
<div class="row" style="padding: 20px 10px;">
  {% for image in images %}

  <div class="col s6 m4 l2"  style="border: thin solid #000000; height: auto;">
    <img class="materialboxed" style="width: 100%; padding: 2px;" src="/uploads/{{image}}">
  </div>
  {% endfor %}
</div>
{% endblock %}
