{% extends 'imagepersona/baseNotloggedin.html' %} {% block title %}: {{PersonName}}{% endblock %} {% block nav-title %}
<div class="col s4" style="height: 0px;">
  <a href="#!" class="breadcrumb">{{PersonName}}</a>
</div>
{% endblock %} {% block body %}
<div class="row" style="padding: 20px 10px;">
  {% for image in images %}

  <div class="col s6 m4 l2" style="padding: 10px;">
    <div style="border: thin solid #000000; height: auto;">
      <img class="materialboxed" style="padding: 2px; height: auto; width: 100%;" src="/uploads/{{image}}">
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
