{% extends 'imagepersona/base.html' %}

{% block title %}: My Photos{% endblock %}
{% block nav-title %}My Photos{% endblock %}

{% block body %}
{% if albums %}
<!-- <ul>
  {% for myalbum in albums %}
      <li><a href="{% url 'imagepersona:album' album_id=myalbum.pk %}">{{ myalbum.name }}</a></li>
  {% endfor %}

</ul> -->
<div class="row" style="padding: 20px 10px;">
  {% for myalbum in albums %}
  <div class="col s6 m4 l2">
    <a href="{% url 'imagepersona:album' album_id=myalbum.pk %}" style="color: white;">
    <div class="card">
      <div class="card-image">
        <!-- need to change the image to static url -->
        <img src="/uploads/folder.png">
        <!-- <span class="card-title">Card Title</span> -->
      </div>
      <!-- <div class="card-content orange darken-4" height="500px" style="he">
        <p>I am a very simple card. I am</p>
      </div> -->
      <hr style="margin: 0px;">
      <div class="card-content black-text" style="padding: 15px;">
        {{ myalbum.name }}
      </div>
    </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
