{% extends 'imagepersona/base_with_search.html' %}
{% load static %}
{% block title %}: My Photos{% endblock %}

{% block breadcrumb %}
<div class="col s4" style="height: 0px;">
  <a href="/imagepersona/photos/" class="breadcrumb">My Photos</a>
</div>
{% endblock %}

{% block body %}
{% if albums %}
<div class="row" style="padding: 20px 10px;">
  {% for myalbum in albums %}
  <div class="col s6 m4 l2">
    <div class="card">
      <a href="{% url 'imagepersona:album' album_id=myalbum.pk %}" style="color: white;">
        <div class="card-image">
          <!-- need to change the image to static url -->
          <img src="/uploads/folder.png">
          <!-- <span class="card-title">Card Title</span> -->
        </div>
        <!-- <div class="card-content orange darken-4" height="500px" style="he">
        <p>I am a very simple card. I am</p>
      </div> -->
        <hr style="margin: 0px;">
        </a>
        <div class="card-content black-text" style="padding: 15px;">
          <a href="{% url 'imagepersona:album' album_id=myalbum.pk %}" style="color: black;">{{ myalbum.name }}</a>
          <a class="modal-trigger red-text" href="#modal2" onclick="deleteConfirm('{% url 'imagepersona:deleteAlbum' album_id=myalbum.pk %}')"><i class="material-icons right">delete</i></a>
          <a class="modal-trigger blue-text" href="#modal1" onclick="downloadConfirm('{% url 'imagepersona:downloadAlbum' album_id=myalbum.pk %}')"><i class="material-icons right">cloud_download</i></a>
        </div>
      </div>
  </div>
  {% endfor %}
</div>


<!-- Modal Structure for Downloading-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <p><h4>Do you want to Download the complete Album?</h4></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    <a id="finaldownload" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" target="_blank" onclick="downloadToast()">Confirm</a>
  </div>
</div>


<!-- Modal Structure for Deleting-->
<div id="modal2" class="modal">
  <div class="modal-content">
    <p><h4>Are you sure you want to delete this album?</h4></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a id="finaldelete" href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Confirm</a>
  </div>
</div>
{% endif %}
{% endblock %}
