{% extends 'imagepersona/base_with_search.html' %}
{% load static %}
{% block title %}: My Photos{% endblock %}

{% block breadcrumb %}
<div class="col s4" style="height: 0px;">
  <a href="/imagepersona/photos/" class="breadcrumb">My Photos</a>
</div>
{% endblock %}

{% block body %}
{% if albums %}
<div class="row" style="padding: 20px 10px;">
  {% for myalbum in albums %}
  <div class="col s6 m4 l2">
    <div class="card">
      <a href="{% url 'imagepersona:album' album_id=myalbum.pk %}" style="color: white;">
        <div class="card-image">
          <!-- need to change the image to static url -->
          <img src="/media/folder.png">
          <!-- <span class="card-title">Card Title</span> -->
        </div>
        <!-- <div class="card-content orange darken-4" height="500px" style="he">
        <p>I am a very simple card. I am</p>
      </div> -->
        <hr style="margin: 0px;">
        </a>
        <div class="card-content black-text" style="padding: 15px;">
          <a href="{% url 'imagepersona:album' album_id=myalbum.pk %}" style="color: black;">{{ myalbum.name|truncatechars:15 }}</a>
          <div id="FAB{{ myalbum.name|cut:" " }}" class="fixed-action-btn vertical" style="position: absolute; bottom: 6px; right: 10px; z-index: 0;" onclick="FABtoggle(this);">
            <a class="btn-floating btn-small red">
              <i class="material-icons">more_vert</i>
            </a>
            <ul>
              <li><a class="modal-trigger btn-floating blue" href="#modal1" onclick="downloadConfirm('{% url 'imagepersona:downloadAlbum' album_id=myalbum.pk %}')"><i class="material-icons right">cloud_download</i></a></li>
              <li><a class="modal-trigger btn-floating red" href="#modal2" onclick="deleteConfirm('{% url 'imagepersona:deleteAlbum' album_id=myalbum.pk %}')"><i class="material-icons right">delete</i></a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
