{% extends 'imagepersona/base.html' %} {% block title %}: My Profile{% endblock %} {% block breadcrumb %}
<div class="col s4" style="height: 0px;">
  <a href="#" class="breadcrumb">My Profile</a>
</div>
{% endblock %} {% block body %}
<div class="row">
  <div class="col s6 offset-s2" style="padding-top: 20px;">
    <!-- Some guidelines and a status bar showing upload status, etc. -->
  </div>
</div>
<div class="">
  <div class="" style="padding-top: 20px;">
    <form action="{% url 'imagepersona:profile' %}" method="post" role="form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <i class="material-icons prefix black-text">perm_identity</i>
          <input id="id_firstname" name="firstname" type="text" placeholder="{{user.first_name}}">
          <label for="id_firstname" class="black-text">First Name</label>
        </div>
        <div class="input-field col s4">
          <input id="id_lastname" name="lastname" type="text" placeholder="{{user.last_name}}">
          <label for="id_lastname" class="black-text">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col s4 offset-s2">
          <div class="file-field input-field">
            <div class="btn blue">
              <span>Choose</span>
              <input type="file" accept="image/*" name="profile" onchange="readURL(this);">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path" type="text" placeholder="Profile photo">
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="file-field input-field">
            <div class="btn blue">
              <span>Choose</span>
              <input type="file" accept="image/*" name="cover" onchange="readURL1(this);">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path" type="text" placeholder="Cover photo">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s8 offset-s2">
          <button class="btn waves-effect waves-light blue darken-2 right" type="submit" name="action" onclick="loading()">Update
              <i class="material-icons right">send</i>
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="progress col s6 offset-s3 " style="display:none;" id="loader">
    <div class="indeterminate"></div>
  </div>
</div>
<div class="row">
  <div class="col s4 offset-s3">
    <div id="abcd" class="gallery">

    </div>
  </div>
  <div class="col s3">
    <div id="abcd1" class="gallery">

    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script>
    {% if messages %}
          {% for message in messages %}
              Materialize.toast('{{message}}', 4000, 'rounded')
          {% endfor %}
    {% endif %}
  </script>
{% endblock %}