{% extends 'imagepersona/base.html' %}

{% block title %} : Register{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h3>Register for an Account</h3>
    </div>
    <div class="row">
        <form class="s6" role="form" action="{% url 'imagepersona:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-field col s6">
                    <!-- error message -->
                    <span class="text-danger small">{{ field.errors }}</span>
                    
                    <!-- input field -->
                    {{ field }}
                    
                    <!-- label for that field -->
                    {{ field.label_tag }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="input-field col s6">
                    <button type="submit" class="btn btn-success"><i class="material-icons right">send</i>Sign Up</button>
                </div></div>
        </form>
    </div>
        Already have an account? Click <a href="{% url 'imagepersona:login' %}">here</a> to log in.
</div>
{% endblock %}