{% extends 'imagepersona/base_with_search.html' %}

{% block title %} : Search Result for '{{query}}'{% endblock %}

{% block breadcrumb %}
<div class="col s4" style="height: 0px;">
  <a href="{% url 'imagepersona:photos' %} " class="breadcrumb">My Photos</a>
  <a href="!#" class="breadcrumb">Search Results</a>
</div>
{% endblock %}
{% block body %}
<div class="row" style="padding: 20px 5px 10px 100px;">
  <div class="gallery">
    {% for image in result %}
    <a tabindex="1"><img class="materialboxed" src="/media/{{image}}"></a>
    {% endfor %}
  </div>

</div>
{% endblock %}
