{% extends 'imagepersona/base.html' %}

{% block title %}: Upload {% endblock %}
{% block breadcrumb %}
<div class="col s4" style="height: 0px;">
  <a href="#" class="breadcrumb">Upload Images</a>
</div>

{% endblock %}

{% block body %}

<div class="row">
  <div class="col s6 offset-s3" style="padding-top: 20px;">
    Some guidelines and a status bar showing upload status, etc.
    <form action="{% url 'imagepersona:upload' %}" method="post" role="form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="file-field input-field">
        <div class="btn blue">
          <span>File</span>
          <input type="file" name="files" accept=".jpeg, .jpg, .png, .gif, .bmp" multiple onchange="readURL(this);">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path" type="text" placeholder="Upload one or more files">
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix black-text">photo_library</i>
          <input type="text" id="id_albumname" name="albumname" required="true"  data-length="20">
          <label for="id_albumname" class="black-text">Album Name</label>
        </div >
      </div>

      <button class="btn waves-effect waves blue darken-2" type="submit" name="action" onclick="uploading();">Submit
        <i class="material-icons right ">send</i>
      </button>
    </form>
  </div>
  <div class="progress col s6 offset-s3 " style="display:none;" id="loader">
      <div class="indeterminate"></div>
  </div>

</div>
<div class="row">
  <div class="col s11 offset-s1">
      <div id="abcd" class="gallery">
      </div>
  </div>
</div>

{% endblock %}
